name: Crypto Trading Bot

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:

jobs:
  trade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Wake up Brain
        run: |
          curl -sL https://fr33b0t-crypto-bot.hf.space > /dev/null
          echo "Waking up Space... Waiting 30s for model load..."
          sleep 30

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt



      - name: Run Trading Bot
        env:
          BINANCE_API_KEY: ${{ secrets.BINANCE_API_KEY }}
          BINANCE_SECRET_KEY: ${{ secrets.BINANCE_SECRET_KEY }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}
          UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
          SENTIMENT_API_URL: "https://fr33b0t-crypto-bot.hf.space/analyze"
          RUN_ONCE: "true"
        run: |
          python main.py
